@font-face {
  font-family: $font-primary;
  src: url("../../fonts/SF-Pro-Text-Bold.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/SF-Pro-Text-Bold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/SF-Pro-Text-Bold.woff") format("woff"),
    /* Modern Browsers */ url("../../fonts/SF-Pro-Text-Bold.ttf")
      format("truetype"); /* Safari, Android, iOS */
  src: url("../../fonts/SF-Pro-Text-Heavy.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/SF-Pro-Text-Heavy.eot") format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/SF-Pro-Text-Heavy.woff") format("woff"),
    /* Modern Browsers */ url("../../fonts/SF-Pro-Text-Heavy.ttf")
      format("truetype"); /* Safari, Android, iOS */
  src: url("../../fonts/SF-Pro-Text-Light.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/SF-Pro-Text-Light.eot") format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/SF-Pro-Text-Light.woff") format("woff"),
    /* Modern Browsers */ url("../../fonts/SF-Pro-Text-Light.ttf")
      format("truetype"); /* Safari, Android, iOS */

  src: url("../../fonts/SF-Pro-Text-Medium.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/SF-Pro-Text-Medium.eot") format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/SF-Pro-Text-Medium.woff") format("woff"),
    /* Modern Browsers */ url("../../fonts/SF-Pro-Text-Medium.ttf")
      format("truetype"); /* Safari, Android, iOS */

  src: url("../../fonts/SF-Pro-Text-Regular.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/SF-Pro-Text-Regular.eot") format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/SF-Pro-Text-Regular.woff") format("woff"),
    /* Modern Browsers */ url("../../fonts/SF-Pro-Text-Regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
