.button {
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }

  &-primary {
    background-color: $color-copy;
    border-radius: $radius-primary;
    padding: 0.7em 0.875em;
    color: $color-bg-white;
    font-weight: 700;
  }

  &-text {
    color: $color-copy-dark;
    font-weight: 700;
  }
}
