.section-cards {
  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: $breakpoint-normal) {
      justify-content: center;
    }
  }
  .card-wrapper {
    flex: 49%;

    margin-bottom: 0.5em;

    &:nth-child(odd) {
      margin-right: 0.5em;
    }
    @media (max-width: $breakpoint-normal) {
      flex: 100%;

      margin-bottom: 1.1875em;
      &:nth-child(odd) {
        margin-right: 0;
      }
    }
  }
  .image-wrapper {
    width: 100%;
    height: 100%;
    position: relative;

    .image-bg {
      width: 34.5em;
      left: 0;
    }

    .image-button {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $color-bg-white;
      padding: 0.625em 0.75em;
      border-bottom-right-radius: $radius-primary;
      font-weight: 800;
      text-transform: uppercase;
    }
    @media (max-width: $breakpoint-extra-large) {
      .image-bg {
        width: 25em;
        max-height: 28.2em;
        height: 100%;
        object-fit: cover;
        border-radius: $radius-primary;
      }
    }

    @media (max-width: $breakpoint-large) {
      max-height: 20em;
      margin-bottom: 0.625em;

      .image-bg {
        width: 100%;
        border-radius: $radius-primary;
      }

      .image-button {
        top: auto;
        bottom: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: $radius-primary;

        img {
          transform: rotate(-90deg);
        }
      }
    }
    @media (max-width: $breakpoint-normal) {
      margin: 0 auto 1.1875em auto;
      width: 100%;
      height: 100%;
      max-width: 31.25em;
      max-height: 13.875em;

      .image-bg {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .fullwidth {
    &:first-child {
      padding-right: 0.5em;
    }

    &:last-child {
      padding-left: 0;
    }

    @media (max-width: $breakpoint-large) {
      &:first-child {
        order: 1;
        padding-right: 0.9375rem;
      }

      &:last-child {
        padding-left: 0.9375rem;
      }
    }

    @media (max-width: $breakpoint-small) {
      &:first-child {
        order: 1;
        padding-right: 0.625rem;
      }

      &:last-child {
        padding-left: 0.625rem;
      }
    }
  }
}

.section-separator {
  .separator-default {
    height: 0.25em;
    width: 100%;
    border-radius: $radius-primary;
    background-color: $color-primary;
    margin-top: 1em;
  }
}

.section-articles {
  .articles-wrapper {
    display: flex;
    flex-flow: row wrap;
  }

  &-news,
  &-technology,
  &-sex {
    .section-heading {
      .heading-primary {
        .heading-title {
          margin: 0.5em 0 1.5em 0;
        }
      }
    }
  }

  &-news,
  &-technology {
    .articles-wrapper {
      div:nth-child(odd) {
        padding-left: 0;
      }

      div:nth-child(even) {
        padding-right: 0;
      }

      .article {
        margin-bottom: 2.35em;

        .image-wrapper {
          padding: 0;
        }
      }

      @media (max-width: $breakpoint-medium) {
        margin-top: 1.625em;
        div:nth-child(odd) {
          padding-right: 0.3125em;
        }

        div:nth-child(even) {
          padding-left: 0.3125em;
        }
      }
    }
  }

  &-news {
    @media (max-width: $breakpoint-large) {
      .row > div {
        &:last-child,
        &:first-child {
          order: -1;
        }
      }
    }
  }
}

.section-articles-sex,
.section-sport,
.section-special-features {
  .articles-wrapper {
    width: calc(100% + 1.875em);
    left: -0.9375em;
    position: relative;

    .article {
      margin-bottom: 2.35em;
    }

    @media (max-width: $breakpoint-medium) {
      width: calc(100% + 1.25em);
      left: -0.625em;
    }
  }
}

.section-sport {
  margin-top: 4.5em;

  padding: 5em 0 4.5em 0;
  border-top: 1px solid $color-border-light;
  background-color: $color-bg-extra-light;

  .section-heading {
    .heading-primary {
      .heading-title {
        margin: 0 0 2em 0;
        @media (max-width: $breakpoint-medium) {
          margin: 0;
        }
      }
    }
  }
  .articles-wrapper {
    .article {
      margin-bottom: 2.35em;

      .image-wrapper {
        padding: 0;
      }
    }

    @media (max-width: $breakpoint-medium) {
      margin-top: 1.5em;
      div:nth-child(odd) {
        padding-right: 0.3125em;
      }

      div:nth-child(even) {
        padding-left: 0.3125em;
      }
    }
  }

  @media (max-width: $breakpoint-normal) {
    margin-top: 0;
    padding: 1.8125em 0 0 0;
  }
}

.section-special-features {
  padding: 5em 0 4.75em 0;
  background-color: $color-bg-green;

  .section-heading {
    .heading-primary {
      .heading-title {
        margin: 0 0 1.5em 0;
        color: $color-bg-white;
      }
    }
  }

  .articles-wrapper {
    .article {
      &-box {
        .article-title {
          a {
            color: $color-bg-white;
          }
        }

        .article-thumbnail {
          color: $color-bg-white;
        }
      }
    }
  }

  @media (max-width: $breakpoint-normal) {
    padding: 1.5em 0 0 0;
  }
}
