.section-cards {
  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: $breakpoint-normal) {
      justify-content: center;
    }
  }
  .card-wrapper {
    flex: 49%;

    margin-bottom: 0.5em;

    &:nth-child(odd) {
      margin-right: 0.5em;
    }
    @media (max-width: $breakpoint-normal) {
      flex: 100%;

      margin-bottom: 1.1875em;
      &:nth-child(odd) {
        margin-right: 0;
      }
    }
  }
  .image-wrapper {
    width: 100%;
    height: 100%;
    position: relative;

    .image-bg {
      width: 34.5em;
      left: 0;
    }

    .image-button {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $color-bg-white;
      padding: 0.625em 0.75em;
      border-bottom-right-radius: $radius-primary;
      font-weight: 800;
      text-transform: uppercase;
    }
    @media (max-width: $breakpoint-extra-large) {
      .image-bg {
        width: 25em;
        max-height: 28.2em;
        height: 100%;
        object-fit: cover;
        border-radius: $radius-primary;
      }
    }

    @media (max-width: $breakpoint-large) {
      max-height: 20em;
      margin-bottom: 0.625em;

      .image-bg {
        width: 100%;
        border-radius: $radius-primary;
      }

      .image-button {
        top: auto;
        bottom: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: $radius-primary;

        img {
          transform: rotate(-90deg);
        }
      }
    }
    @media (max-width: $breakpoint-normal) {
      margin: 0 auto 1.1875em auto;
      width: 100%;
      height: 100%;
      max-width: 31.25em;
      max-height: 13.875em;

      .image-bg {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .fullwidth {
    &:first-child {
      padding-right: 0.5em;
    }

    &:last-child {
      padding-left: 0;
    }

    @media (max-width: $breakpoint-large) {
      &:first-child {
        order: 1;
        padding-right: 0.9375rem;
      }

      &:last-child {
        padding-left: 0.9375rem;
      }
    }

    @media (max-width: $breakpoint-small) {
      &:first-child {
        order: 1;
        padding-right: 0.625rem;
      }

      &:last-child {
        padding-left: 0.625rem;
      }
    }
  }
}

.section-separator {
  .separator-default {
    height: 0.25em;
    width: 100%;
    border-radius: $radius-primary;
    background-color: $color-primary;
    margin-top: 1em;
  }
}

.section-articles {
  .articles-list {
    padding-left: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    .list-item {
      margin-bottom: 2.35em;

      .article-wrapper {
        .section-heading {
          .heading-title {
            margin: 0.5em 0;
          }
        }
      }
    }
  }

  &-news,
  &-technology {
    margin: 1.5em 0 0 0;

    .articles-list {
      .list-item {
        flex: 46%;
        margin-bottom: 2.35em;

        &:nth-child(odd) {
          margin-right: 2.5em;
        }
      }
    }
  }

  &-sex {
    margin: 1.5em 0 0 0;

    .articles-list {
      .list-item {
        flex: 30%;
        margin-bottom: 2.35em;
        margin-right: 2.5em;

        &:last-child {
          margin-right: 0;
        }
      }
    }
    @media (max-width: $breakpoint-medium) {
      .articles-list {
        .list-item {
          flex: 25%;
        }
      }
    }

    @media (max-width: $breakpoint-small) {
      .articles-list {
        .list-item {
          margin-right: 1em;
        }
      }
    }

    @media (max-width: $breakpoint-extra-small) {
      .articles-list {
        flex-direction: column;

        .list-item {
          flex: 100%;
          margin-right: 0;
          margin-bottom: 1.6875em;

          .article-wrapper {
            max-width: 36.875em;

            .section-heading {
              .header-title {
                font-size: 0.875em;
                line-height: 1.1375em;
              }
            }
          }
        }
      }
    }
  }

  &-news {
    @media (max-width: $breakpoint-large) {
      .row > div {
        &:last-child {
          order: -1;
        }
      }
    }
  }

  &-news,
  &-technology {
    @media (max-width: $breakpoint-large) {
      .article-text-wrapper {
        margin-bottom: 1.8125em;
      }

      .articles-list {
        margin-top: 1.625em;
      }
    }

    .articles-list {
      .list-item {
        flex: 46%;
        margin-bottom: 1.5em;

        &:nth-child(odd) {
          margin-right: 0.625em;
        }
      }
    }
  }
}
.section-sport {
  margin-top: 4.5em;

  padding: 5em 0 4.5em 0;
  border-top: 1px solid $color-border-light;
  background-color: $color-bg-extra-light;
  .articles-list {
    .list-item {
      flex: 20%;

      &:not(:nth-child(4n + 4)) {
        margin-right: 2.5em;
      }
    }
  }

  @media (max-width: $breakpoint-large) {
    .articles-list {
      margin-top: 1.5em;

      .list-item {
        flex: 35%;

        margin-bottom: 1.5em;

        &:nth-child(odd) {
          margin-right: 0.625em;
        }

        &:nth-child(even) {
          margin-right: 0;
        }
      }
    }
  }

  @media (max-width: $breakpoint-normal) {
    margin-top: 0;
    padding: 1.8125em 0 0 0;
  }
}

.section-special-features {
  padding: 5em 0 4.75em 0;
  background-color: $color-bg-green;

  .heading-primary {
    .heading-title {
      color: $color-bg-white;
    }
  }

  .articles-list {
    margin: 1.375em 0 0 0;

    .list-item {
      &:not(:nth-child(3n + 3)) {
        margin-right: 2.3575em;
      }

      flex: 30%;

      .section-heading {
        .heading-title,
        .heading-subtitle {
          color: $color-bg-white;
        }
      }
    }
  }

  @media (max-width: $breakpoint-medium) {
    .articles-list {
      .list-item {
        flex: 20%;
      }
    }
  }

  @media (max-width: $breakpoint-normal) {
    padding: 1em 0 0 0;
  }

  @media (max-width: $breakpoint-small) {
    .articles-list {
      .list-item {
        &:not(:nth-child(3n + 3)) {
          margin-right: 1em;
        }
      }
    }
  }
  @media (max-width: $breakpoint-extra-small) {
    .articles-list {
      .list-item {
        flex: 100%;

        &:nth-child(n) {
          margin-right: 0;
        }
      }
    }
  }
}
