.site-header {
  width: 100%;
  height: 100%;
  max-height: 7.25em;

  position: fixed;
  z-index: 1;
  background: $color-bg-white;
  &-primary {
    border-bottom: 1px solid $color-border-light;

    background: $color-bg-white;
    .site-header-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      max-height: 4.25em;

      .site-branding {
        .site-title {
          font-size: 1em;
          margin: 0;

          a {
            display: block;
            background: url(../../dist/images/logo.svg) no-repeat center center;
            background-size: contain;
            text-indent: -999em;

            width: 7.8925em;
            height: 3.0625em;
          }
        }
      }

      .site-navigation {
        &-primary {
          .menu-primary-container {
            .menu-mobile {
              display: none;
            }

            .menu-primary-nav-container {
              .menu {
                list-style: none;
                padding-left: 0;
                display: flex;
                flex-direction: row;
                align-items: center;

                &-item {
                  margin: 0 0.25em;

                  &:first-child {
                    margin-left: 0;
                  }

                  &:last-child {
                    margin-right: 0;
                  }

                  &-icon {
                    display: block;
                    width: 2.5875em;
                    height: 2.5875em;
                    border-radius: $radius-primary;
                    background-color: $color-bg-light;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                  }

                  &-link {
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }
      }
      @media (max-width: $breakpoint-medium) {
        max-height: 4em;

        .site-branding {
          .site-title {
            a {
              width: 6.125em;
              height: 2.375em;
            }
          }
        }

        .site-navigation {
          &-primary {
            .menu-primary-container {
              display: flex;
              flex-direction: row;
              align-items: center;

              .menu-mobile {
                display: block;
                margin: 1em 0.5em;
              }

              .menu-primary-nav-container {
                .button-subscribe {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
  &-secondary {
    background: $color-bg-white;
    border-bottom: 1px solid $color-border-light;
    .site-navigation-wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .site-header-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      max-height: 3em;

      .site-navigation {
        &-primary,
        &-secondary {
          .menu-primary-nav-container,
          .menu-secondary-nav-container {
            .menu {
              list-style: none;
              padding-left: 0;
              display: flex;
              flex-direction: row;
              align-items: center;

              &-item {
                &:not(:first-child)::before {
                  content: "";
                  width: 1px;
                  height: 0.729375em;
                  background-color: $color-border-light;
                  transform: translateY(50%);
                  position: absolute;
                }

                &:first-child {
                  .menu-item-link {
                    padding-left: 0;
                  }
                }

                &:last-child {
                  .menu-item-link {
                    padding-right: 0;
                  }
                }

                &-link {
                  text-decoration: none;
                  color: $color-copy-dark;
                  font-weight: 400;
                  line-height: 1.193em;
                  padding: 0 1.47em;
                }
              }
            }
          }
        }

        &-primary {
          .menu-primary-nav-container {
            .menu-item-link {
              &.active {
                font-weight: 700;
              }
            }
          }
        }

        &-secondary {
          .menu-secondary-nav-container {
            .menu-item {
              padding-left: 1.47em;
            }
          }
        }
      }

      @media (max-width: $breakpoint-medium) {
        .site-navigation {
          &-primary,
          &-secondary {
            .menu-primary-nav-container,
            .menu-secondary-nav-container {
              .menu {
                &-item {
                  &:not(:first-child)::before {
                    display: none;
                  }
                }
              }
            }
          }
        }

        .site-navigation {
          &-primary {
            position: absolute;
            width: 100%;
            top: 7.1em;
            left: 0;
            transition: 0.5s;
            transform: translateX(-100%);

            .menu-primary-nav-container {
              .menu {
                width: 100%;
                background-color: $color-bg-white;

                flex-direction: column;
                align-items: flex-start;
                padding: 1em;
                margin: 0;

                &-item {
                  margin: 0.4em 0;

                  &::before {
                    display: none;
                  }
                }

                &-item-link {
                  padding: 0;
                }
              }
            }
          }

          &-secondary {
            width: 100%;
            .menu-secondary-nav-container {
              .menu {
                justify-content: space-between;
              }
              .menu-item {
                &:first-child {
                  padding-left: 0;
                }

                &:last-child {
                  padding: 1em 0.5em;
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: $breakpoint-medium) {
    max-height: 7em;
  }
}
